body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.login-container {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 0 10px rgb(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5 rem;
}

input[type="text"],
input[type="password"] {
    padding: 2 rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 11.5rem;
    padding: 15px;
    font-size: large;
}


button:hover {
    background-color: #0056b3;
}
